# requirements.txt
git+https://github.com/openai/whisper.git
transformers
moviepy
torch==2.7.0+cpu
torchvision==0.22.0+cpu
torchaudio  # Let pip choose the compatible version
--extra-index-url https://download.pytorch.org/whl/cpu